.inte__Topbar {
  left: 0 !important;
}

.logoutButton {
  padding: 10px 12px 10px 12px !important;
}

.connection {
  padding-top: 7em;
  width: 934px;
  margin: auto;
  padding-bottom: 12rem;
}

.stepper-custom {
  margin-top: 63px !important;
}

.connection-card {
  margin-top: 33px !important;
}

.list-circle {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 12px;
  background: #269e6c;
  font-size: small;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 954px) {
  .connection {
    max-width: 100% !important;
  }
}

/* ----------------Custom CSS--------------- */
/* For icon background */
.iconBody {
  margin-top: -14%;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
}

.Finished {
  background-color: #ecfbed;
}

.Error {
  background-color: #ffebea;
}

.Warning {
  background-color: #fffaec;
}

.Imported {
  background-color: #f1ecfd;
}

.Pending {
  background-color: #e0e1e3;
}

.Cancelled {
  background-color: #ffebea;
}

.Refunded {
  background-color: #f0f4ff;
}

/* Link Text CSS */
.link .inte-TextLink--Label {
  color: #1c2433;
  text-decoration: underline;
}

.link .inte-TextLink--Label:hover {
  color: #1c2433;
  text-decoration: none;
}

/* List Link CSS */
.textlink__list .inte-TextLink--Label {
  color: #1c2433;
  text-decoration: none;
}

/* Text Ellipsis CSS */
.blogTxt {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---Onboarding Title--- */
.connection-title {
  margin-top: -10px !important;
}

/* ---- Product Grid----- */
.product-activity {
  font-style: italic;
}

.error-product-btn {
  padding-left: 0 !important;
  background-color: transparent !important;
}

.error-product-btn > .inte__text {
  text-decoration: underline;
}

/* --- Product Column Title---- */
.up-arrow {
  margin-bottom: -10px;
  cursor: pointer;
}
.down-arrow {
  cursor: pointer;
}

/* ----- Category Template---- */
.list-highlight {
  font-weight: bold;
  color: #4e4f52;
}

.action-button{
  padding-left: 7px!important;
  padding-right: 7px !important;
}

.action-delete-btn{
  padding: 4px 12px !important;
}