* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Register Page*/
.custom-help-points ul.inte__List {
  padding-left: 2rem;
}

.custom-help-points ul.inte__List li {
  padding: 0;
}

hr {
  border-top: 1px solid #E1E3E5;
  margin: 0;
  border-bottom: none;
  box-shadow: unset;
}

/* --- Footer ---- */
/* .app-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
   padding-left: 1.6rem;
   padding-right: 1.6rem; 
  padding-top: 1.6rem; 
}
.app-footer button {
  background: transparent;
} */
.app-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 1.6rem;
}